<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suncity.dao.cart.CartMapper">
  <resultMap id="BaseResultMap" type="com.suncity.model.cart.Cart">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="product_id" jdbcType="VARCHAR" property="product_id" />
    <result column="member_id" jdbcType="VARCHAR" property="member_id" />
    <result column="product_name" jdbcType="VARCHAR" property="product_name" />
    <result column="member_name" jdbcType="VARCHAR" property="member_name" />
    <result column="product_pic" jdbcType="VARCHAR" property="product_pic" />
    <result column="price_site" jdbcType="VARCHAR" property="price_site" />
    <result column="product_num" jdbcType="INTEGER" property="product_num" />
    <result column="create_date" jdbcType="VARCHAR" property="create_date" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, 
    product_id, 
    (select name from suncity_product p where p.id = t.product_id) as product_name,
    (select pic from suncity_product p1 where p1.id = t.product_id) as product_pic,
    (select price_site from suncity_product p2 where p2.id = t.product_id) as price_site,
    member_id, 
    (select member_name from suncity_member m where m.id = t.member_id) as member_name,
    product_num, 
    create_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Mar 08 16:31:06 CST 2017.
    -->
    select 
    <include refid="Base_Column_List" />
    from suncity_cart t
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Mar 08 16:31:06 CST 2017.
    -->
    delete from suncity_cart
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.suncity.model.cart.Cart">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Mar 08 16:31:06 CST 2017.
    -->
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into suncity_cart (product_id, member_id, product_num, 
      create_date)
    values (#{product_id,jdbcType=VARCHAR}, #{member_id,jdbcType=VARCHAR}, #{product_num,jdbcType=INTEGER}, 
      #{create_date,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.suncity.model.cart.Cart">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Mar 08 16:31:06 CST 2017.
    -->
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into suncity_cart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="product_id != null">
        product_id,
      </if>
      <if test="member_id != null">
        member_id,
      </if>
      <if test="product_num != null">
        product_num,
      </if>
      <if test="create_date != null">
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="product_id != null">
        #{product_id,jdbcType=VARCHAR},
      </if>
      <if test="member_id != null">
        #{member_id,jdbcType=VARCHAR},
      </if>
      <if test="product_num != null">
        #{product_num,jdbcType=INTEGER},
      </if>
      <if test="create_date != null">
        #{create_date,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.suncity.model.cart.Cart">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Mar 08 16:31:06 CST 2017.
    -->
    update suncity_cart 
    <set>
      <if test="product_id != null">
        product_id = #{product_id,jdbcType=VARCHAR},
      </if>
      <if test="member_id != null">
        member_id = #{member_id,jdbcType=VARCHAR},
      </if>
      <if test="product_num != null">
        product_num = #{product_num,jdbcType=INTEGER},
      </if>
      <if test="create_date != null">
        create_date = #{create_date,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.suncity.model.cart.Cart">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Mar 08 16:31:06 CST 2017.
    -->
    update suncity_cart 
    set product_id = #{product_id,jdbcType=VARCHAR},
      member_id = #{member_id,jdbcType=VARCHAR},
      product_num = #{product_num,jdbcType=INTEGER},
      create_date = #{create_date,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 根据会员id查询购物车 -->
  <select id="queryCartListByMember" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from suncity_cart t
    where member_id = #{member_id}
    order by create_date desc limit #{limtNum} 
  </select>
  
  <select id="selectByProductId" parameterType="string" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from suncity_cart t
    where product_id = #{product_id,jdbcType=VARCHAR}
  </select>
</mapper>