<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>
	<classPathEntry
		location="D:\maven-repository-self\mysql\mysql-connector-java\5.1.38\mysql-connector-java-5.1.38.jar" />
	<context id="DB2Tables" targetRuntime="MyBatis3">
		<property name="javaFileEncoding" value="UTF-8" />
		<property name="javaFormatter"
			value="org.mybatis.generator.api.dom.DefaultJavaFormatter" />
		<property name="xmlFormatter"
			value="org.mybatis.generator.api.dom.DefaultXmlFormatter" />
		<commentGenerator>
			<property name="suppressDate" value="false" />
			<property name="suppressAllComments" value="false" />
		</commentGenerator>

		<jdbcConnection driverClass="com.mysql.jdbc.Driver"
			connectionURL="jdbc:mysql://localhost:3306/db_sinian?useUnicode=true&amp;characterEncoding=UTF-8"
			userId="root" password="root_123">
		</jdbcConnection>

		<javaTypeResolver>
			<property name="forceBigDecimals" value="false" />
		</javaTypeResolver>

		<javaModelGenerator targetPackage="com.yuanyuansinian.model.template"
			targetProject="src/main/java">
            <property name="enableSubPackages" value="false"/>  
            <property name="trimStrings" value="true"/>  
		</javaModelGenerator>

		<sqlMapGenerator targetPackage="com.yuanyuansinian.dao.template"
			targetProject="src/main/java">
			<property name="enableSubPackages" value="true" />
		</sqlMapGenerator>

		<javaClientGenerator type="XMLMAPPER"
			targetPackage="com.yuanyuansinian.dao.template" targetProject="src/main/java">
			<property name="enableSubPackages" value="true" />
			
		</javaClientGenerator>
		
		
		<table tableName="ujn_template_img" domainObjectName="TemplateImg"
			enableCountByExample="false" enableUpdateByExample="false"
			enableDeleteByExample="false" enableSelectByExample="false"
			selectByExampleQueryId="false" >
			<property name="useActualColumnNames" value="true" />
			<generatedKey column="id" sqlStatement="Mysql" identity="true" />
		</table>
		

	</context>
</generatorConfiguration>  