@charset "utf-8";
body {font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif; color: #333; font-size:14px; background:#f5f5dc}
.container {background:#fff}
ul, li {list-style:none; padding:0}
h1 {font-size:27px}
h2 {font-size:25px}
h3 {font-size:20px}
h4 {font-size:17px}
h5 {font-size:15px}
a {color:#333; text-decoration:none}
a:hover {color:#b85844; text-decoration:none}
a:focus {color:#b85844; text-decoration:none}
a.more {color:#333; margin-top:7px}
a.more:hover {text-decoration:underline; color:#b85844}
.navbar-top {padding:0; margin-bottom:0;min-height:40px; font-size:13px; border-bottom:1px solid #b85844; background:#efdba7}
.navbar-top .container, .navbar-logo .container {background:#efdba7}
.navbar-top p {padding-left:0; margin:0; height:40px; line-height:40px}
.navbar-logo {margin-bottom:0; background:#efdba7}
.navbar-logo .logo {padding-top:0; margin:10px 0}
.navbar-logo .navbar-form {padding-bottom:0}
.navbar {font-size:17px}
.navbar-mainnav {z-index:1000}
.nav > li > a {color:#000}
.nav > li > a:focus, .nav > li >a:hover {color:#b85844; background-color:#efdba7}
.nav > li.active > a {color:#b85844}
.navbar-toggle {margin-top:-10px; margin-right:0; border:1px solid #b85844}
.navbar-toggle span {background:#b85844}
.navbar-mainnav {margin-bottom:0; padding-bottom:0}
.navbar-mainnav .container {background:#f5f5dc}
#footer {padding:25px 0; background:#776a62}
#footer .container {background:#776a62; color:#fff}
#footer li {height:30px; line-height:30px}
.modal {margin-top:10px}
.modal .code-img {margin-top:1px; height:32px}
.code-img-wd {margin-left:15px; color:#f0ad4e}
.btn-submit {width:100%}
.modal-footer {margin-right:15px}
.modal-footer button {width:70px}
.page {text-align:center}
.banner-con {padding:0; margin-top:-50px}
.carousel-inner img {margin:0 auto}
#myCarousel, .miss, .contact {margin-top:-50px; margin-bottom:20px}  
.pro-header {padding:5px 0; height:45px; border-bottom:1px solid #efdba7}
.pro-title {height:30px; border-bottom:1px solid #b85844}
.all-info .thumbnail {border:0; padding:0; margin-bottom:20px}
.all-info .thumbnail img {width:100%}
.all-info .thumbnail .caption {padding:0}
.all-info .thumbnail a {color:#000}
.all-info .thumbnail .thumbnail-des {width:100%; max-height:44px; line-height:22px; overflow:hidden}
.pro-header-tool {margin-top:7px}
.pro-header-tool li {margin-right:7px}
.pro-header-tool a {color:#333}
.pro-header-tool a:hover {color:#b85844; text-decoration:none}
.arclist .media-heading {margin:25px 0 10px 0}
.arclist p {color:#666}
.arclist .arclist-des {width:100%; height:75px; line-height:25px; overflow:hidden}
.media-img .media-left {padding-right:0}
.list li {height:45px; line-height:45px; font-size:15px; background:url(../images/line.png) repeat-x left bottom}
.list a {display:block; width:70%; height:100%; overflow:hidden}
span.list-date {font-size:13px; color:#666}
.glyphicon-arrow-up, .glyphicon-arrow-down {color:#b85844}
.all-bg {margin-bottom:20px; padding-bottom:20px}
.memorial {margin-top:50px}
.notice {margin-top:50px}
.recommend {margin-top:30px}
.con-tab {margin-bottom:20px}
.login .pro-header {margin-bottom:15px}
.input-group {margin-bottom:12px}
.btn-login, .btn-register {width:100%; margin-top:12px}
.notice-list a {display:block; width:100%; height:32px; line-height:32px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis}
.sidebar .recommend-body .thumbnail {border:0; padding:0}
.sidebar .recommend-body .caption {padding:0}
.sidebar .recommend-body .caption h5 {width:100%; height:25px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis}
.login-body > table {color:#b85844; border-bottom:1px solid #ddd}
.memorial-pro li {height:30px; line-height:30px}
.memorial-pro .with-date a {display:block; width:70%; height:30px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis}
.memorial-pro .without-date li {width:100%; height:30px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis}
.search-body {margin-top:5px}
.search-body .form-group {margin-bottom:10px}
.search-body button {width:100%}
.search-body dl {margin-bottom:10px}
.search-body dl h5 {margin-bottom:0}
.search-body dl dt {line-height:20px}
.search-body span {margin-right:5px; color:#b85844}
.search-body dl dd {padding-left:20px; color:#999}
.img-list {margin-top:50px}
.img-list .pro-header {margin-bottom:15px}
.img-list .caption {padding:0}
.img-list .thumbnail {border:0; padding:0}
.img-list .thumbnail h5 {width:100%; height:100%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis}
.btn-memorial {margin:8px 0 0 5px}
.nav-title {margin:10px 0 15px 0}
.nav-title-tool {margin-top:-27px}
.nav-title .nav-tabs > li {margin-bottom:0}
.nav-title .nav-tabs > li.active > a {border:1px solid transparent}
.con-tab .img-list{margin-top:0}
.side-nav .pro-header {border-bottom:1px solid #b85844}
.side-nav-body {padding:0 10px; margin-top:10px}
.side-nav-body li {margin-bottom:1px; width:100%; height:40px; line-height:40px; border-bottom:1px solid #ddd}
.side-nav-body li a {display:block; padding:0 20px; width:100%; height:40px}
.side-nav-body li a:hover, .side-nav-body li.active > a {color:#fff; background:#b85844}
.article-top {text-align:center}
.article-top h1 {padding:15px 0; line-height:1.6; font-size:20px}
.article-info {height:40px; line-height:40px; color: #777; background: url(../images/line-gray.png) repeat-x left bottom, url(../images/line-gray.png) repeat-x left top}
.article-info span {margin-right:10px}
.article-body {padding:30px 0}
.article-body p {margin-bottom:20px; line-height:30px; text-align:justify; text-indent:28px}
.article-near {border-top:1px solid #ddd}
.article-near li.previous a {margin-bottom:10px}
.article-near a {width:100%; height:30px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis}
.info-list-body {padding-left:15px; padding-right:15px}
.shop-header {margin:30px 15px 10px 15px; text-align:center; border-bottom:2px solid #b85844}
.shop-header .more {margin-top:-30px}
.product, .miss {padding:15px 0}
.product h3 {width:100%; height:25px; line-height:25px; overflow:hidden}
.product span.btn-label {display:block; margin-right:15px; width:80px; height:25px; line-height:25px; text-align:center; color:#fff; background:#edad55; border-radius:4px; border:1px solid #e38d13}
.product-price h2 {margin-top:-1px; color:#b85844}
.product-price small {color:#b85844}
.product-price .expired {margin-left:20px; height:27px; line-height:27px; color:#b85844}
.product-reason li {width:100%; height:35px; line-height:35px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis}
.product-reason span.glyphicon {margin-right:5px; color:#b85844}
.product-btn button {margin-bottom:10px; width:100%}
.article-tab-header {border-bottom-color:#b85844}
.article-tab-header h5 {margin-top:0px; padding:0 15px; height:40px; line-height:40px; color:#b85844; border:1px solid #b85844; border-top:2px solid #b85844; border-bottom:0; background:#fff}
.map-body {margin-bottom:10px}
.miss {color:#999}
.web-info {padding-bottom:5px; border-bottom:1px solid #ddd}
.web-info h3 {margin-bottom:15px; color:#333}
.web-info p {margin-bottom:5px}
.true-info {margin-top:15px; width:100%}
.true-info li {margin-right:20px; height:30px; line-height:30px; font-size:17px; color:#333}
.miss span {color:#999; font-size:13px}
.count-info {margin-top:30px}
.count-info .product-price h2 {margin-top:-7px; margin-right:30px}
.count-info button {margin-bottom:10px; width:100%}
.miss-con {padding-top:15px}
.btn-tools {margin-top:-40px}
.miss-setup-pro {margin-bottom:20px}
.miss-setup h5 {margin:10px 0 15px 0; width:100%; height:16px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis}
.miss-setup .miss-des {width:100%; height:81px; line-height:27px; overflow:hidden}
.museum {padding-top:15px; margin-top:-50px}
.museum-info {margin-bottom:30px}
.museum-info img {margin-bottom:10px}
.museum-info-left {margin-bottom:20px}
.museum-info-left button {width:32%}
.museum-info-left button:last-child {width:33%}
p.museum-des {position:relative; top:8px}
.pro-header  mark {padding:0 5px; margin:0 5px}
.museum-info-right li {line-height:35px; background:url(../images/line.png) repeat-x left bottom}
.museum-info-right li span {display:block; width:80px; color:#999}
.museum-body .thumbnail img {width:100%}
.anthology-body {padding-top:0px; padding-bottom:0px; margin-top:-15px}
.anthology-pro {padding:15px; border-bottom:1px solid #ddd}
.anthology-pro h5 {margin-bottom:10px; width:100%; height:20px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis}
.anthology-date {display:block; margin-bottom:7px; color:#999}
.anthology-des {width:100%; max-height:120px; line-height:30px; overflow:hidden; color:#666}
.incense {margin-top:-50px; margin-bottom:20px; padding:0; position:relative}
.incense-body img.incense-bg {margin:0 auto; width:320px}
.incense-img {position:absolute; top:53px; width:50px; height:50px}

.flower-left {position:absolute; width:7%; top:105px; left:82px}
.flower-right {position:absolute; width:7%; top:105px; right:82px}
.fragrant {position:absolute; height:12%; top:120px; left:155px}

.incense-btn button {width:24%}
.contact-left {padding-left:10px}
.contact-left h2 {margin-bottom:10px; font-size:20px}
.contact-left p {margin-bottom:10px; height:25px; line-height:25px; font-size:15px}
.contact-left p.contact-tel {font-size:20px; color:#e60012}
.contact-left p span {margin-right:10px; font-size:17px; color:#333}
.contact-left p.contact-zip {padding-left:27px}
.contact-add-map {padding-bottom:10px}
.new-noleft {padding:0; margin-bottom:10px}
.new-noright {padding:0}
.new-notice {margin-bottom:10px; line-height:25px; color:#b85844}
.new-add {margin-top:10px; text-align:center}
.new-add a {color:#b85844}
.new-add a:hover {text-decoration:underline}
.new-add button {margin-top:20px; width:90%}

.search-list .pro-top span {margin:0 10px; color:#b85844}
.search-list-con span {color:#b85844}
.search-pro {width:100%; padding:10px 0; background:url(../images/line.png) repeat-x left bottom}
.search-pro > a > h5 {overflow:hidden; white-space:nowrap; text-overflow:ellipsis; font-size:14px}
.search-pro p {width:100%; max-height:40px; line-height:20px; overflow:hidden; color:#666}
.search-pro p.search-date {color:#999}

/* 双人馆 double-box*/
.double-box > a > img {padding:0px}
.double-box > a > img:first-child {margin-left:5px}
.double-box > a > img:last-child {margin-right:5px}
.all-info.img-list img.double-img {width:47%; height:100%}
.all-info .double-box .caption {padding-left:5px; padding-right:5px}
.all-info .double-box .caption h5 {margin-right:10px}
.incense-double-img {margin-top:10px; margin-bottom:10px; width:47%; height:100%}
.new-body .new-pro:first-child {margin-bottom:30px}

/* 纪念馆贡品列表页 */
.incense-product-list > div {margin-bottom:10px}
.incense-product-list .thumbnail h5 {margin-top:2px; width:75%; float:left; font-size:14px}

/*购物车结算*/
.settlement-pro {padding:15px 0px; border-bottom:1px solid #ddd}
.settlement-img img {width:100%}
.settlement-title {margin-bottom:5px; width:100%; height:25px; line-height:25px; overflow:hidden; font-size:12px; text-align:justify}
.settlement-price {margin-bottom:5px; font-size:12px; color:#b85844}
.settlement-price span {margin-left:20px}
.form-group {margin-bottom:12px}
.settlement-number .form-horizontal .control-label {margin-bottom:7px; padding-right:0px; font-size:12px; color:#b85844; font-weight:normal; text-align:left}
.settlement-number .form-horizontal .settlement-input {padding-left:0px; font-size:12px}
.settlement-btn {margin:15px 0px}
/*注册*/
.form-pos {position:relative}
.form-pos > label {position:absolute; top:5px; right:20px; color:#b85844}
.c-red {color:#b85844}

/*登录*/
.login-modal {position:static; margin-top:10px}

/*礼品*/
.gift-con {margin:0 auto; border-radius:5px; background-color:#efdba8} 
.gift-con .pro-header {margin:0 15px; border-bottom-color:#f5f5dd}
.gift-con .side-nav {padding-right:0px}
.gift-con .side-nav-body li {border-bottom-color:transparent}
.gift-con .side-nav-body a {padding:0px; text-align:center}
.gift-pro a img {height:85px}
.gift-pro dl {margin-top:10px; margin-bottom:0px}
.gift-pro dt, .gift-pro dd {width:100%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis}
	
/*弹出购物车*/
.settle-con {margin:0 auto; padding-bottom:15px; border-radius:5px; background-color:#efdba8}
.settle-con .pro-header {margin:0 15px; border-bottom-color:#f5f5dd} 
.settle-body-all {margin:0 15px}
.settle-body {margin-top:10px}
.settle-pro {margin-bottom:15px; padding:15px; background-color:#f5f5dc; border:1px solid #ddd} 
.settle-info {font-size:12px; height:20px; line-height:20px}
.settle-title {margin-top:10px; width:100%; height:20px; line-height:20px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis}
.settle-pro img {width:100%}
.settle-price {color:#b85844}
.settle-price span.settle-expired {margin-left:20px}
.settle-pro .input-group {margin-bottom:0px}
.settle-btn {margin-top:10px}
.settle-all-btn {padding-left:20px; padding-right:20px}
.settle-all strong {font-size:15px; color:#b85844; padding:0 10px}

/*模板弹出页*/
.template {padding-top:10px}

/*支付方式选择*/
.pay-top {padding-top:10px}
.pay-body {padding-bottom:0px}
.pay-body dl {width:100%; margin-bottom:0px}
.pay-body dt {margin-bottom:5px; width:100%; height:20px; line-height:20px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis}
.pay-body dd {width:100%; height:20px; line-height:20px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis}
.pay-count {height:45px; line-height:45px; font-size:15px}
.pay-way-top {margin-bottom:10px; font-size:17px}
.pay-way-pro {width:120px; float:left; margin-right:20px}
.pay-way-pro img {width:120px; height:120px}
.pay-way-pro dt {margin-bottom:10px}
	
/* 小屏幕（平板，大于等于768px） */
@media (min-width: 768px) {
	.navbar-logo {padding:0}
	.navbar-logo .logo {padding-left:15px; margin-top:20px}
	.navbar-logo .container {height:120px; background:url(../images/cloud.png) no-repeat right bottom}
	.navbar-logo .navbar-form {margin:45px 30px 0 0}
	.nav>li>a:focus,.nav>li>a:hover {background-color:transparent}
	.navbar-mainnav .container {padding:0}
	#myCarousel, .banner-con, .miss, .contact {margin-top:-5px; margin-bottom:30px}
	#footer {padding:25px 0 15px 0}
	.footer-logo {margin-top:20px}
	.modal {margin-top:200px}
	.all-info .thumbnail {margin-bottom:35px}
	.all-info .thumbnail img {width:220px; height:220px}
	.all-info .thumbnail .thumbnail-des {max-height:66px; height:66px; line-height:22px}
	.media-img img {width:100%}
	.list a {width:75%}
	.all-bg {margin-bottom:30px; padding-bottom:20px}
	.information {margin-top:20px}
	.memorial {margin-top:60px}
	.recommend {margin-top:40px}
	.con-tab {margin-bottom:25px}
	.sidebar {padding-left:30px}
	.sidebar .recommend-body img {width:100%; height:127px} 
	.memorial-pro .with-date a {width:60%}
	.memorial-pro {padding-right:20px}
	.metorial-arc {padding:0 10px 0 10px}
	.search-memorial {padding:0 0 0 20px}
	.img-list .thumbnail img {width:157px; height:105px}
	.all-info.img-list img {width:220px; height:220px}
	.all-info.img-list .thumbnail .thumbnail-des {max-height:66px; height:66px; line-height:22px}
	.nav-title .nav-tabs > li {margin-bottom:-2px}
	.nav-title .nav-tabs > li.active > a {border:1px solid #ddd; border-bottom:1px solid transparent}
	.here .breadcrumb {background:none; padding-left:0; border-bottom:1px solid #ddd}
	.here .breadcrumb a {color:#b85844}
	.article-info span {margin-right:30px}
	.article-top h1 {padding:16px; font-size:22px}
	.article-body {padding:30px 15px}
	.article-body img {width:80%; margin:0 auto}
	.article-near li.previous a {margin-bottom:0}
	.article-near a {max-width:220px}
	.shop .row {margin-bottom:10px}
	.shop-cat img {height:320px}
	.shop-list .thumbnail {margin-bottom:10px}
	.shop-list .thumbnail h5 {margin-bottom:5px}
	.product img {width:100%; height:230px} 
	.product h3 {height:25px}
	.product-reason ul {margin-bottom:0px; height:70px; overflow:hidden}
	.product-btn button {margin-right:5px; margin-bottom:0; width:105px; font-size:15px}
	.article-tab-header h5 {margin-top:1px}
	.map {margin:5px 0}
	.map-body {margin-bottom:20px}
	.miss-ico img {width:100%; height:157px}
	.true-info {height:30px; overflow:hidden}
	.count-info {margin-top:20px}
	.count-info button {margin:-12px 10px 0 0; width:100px}
	.miss-shop-list .thumbnail h5 {width:55%; float:left; font-size:14px}
	.miss-shop-info {margin-top:6px; font-size:14px; color:#b85844}
	.miss-shop-full .thumbnail h5 {width:100%}
	.miss-setup img {width:100%; height:158px}
	.museum, .incense {margin-top:-5px}	
	.museum-info img {width:100%; height:220px}
	.museum-info-left button:last-child {width:32%}
	.museum-info-left {margin-bottom:0}
	.museum-info-right li {width:100%; height:35px; line-height:35px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis}
	.museum-body .caption {width:100%; height:100%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis}
	.museum-body .thumbnail img {height:210px}
	.anthology-des {max-height:60px; overflow:hidden}
	.anthology-body {padding-top:0px; padding-bottom:0px; margin-top:0}
	.incense {margin-top:-5px; margin-bottom:30px}
	.incense-body img.incense-bg {width:100%}
	.incense-img {top:124px; left:315px; width:119px; height:119px}
	/*墓碑模板 start*/
	.monument .incense-img {top:124px; left:335px; width:80px; height:80px}
	.monument span {position:absolute; top:220px; left:365px; width:20px; height:120px; line-height:22px; font-size:20px; color:#faf08d}
	/*墓碑模板 end*/
	
	.flower-left {position:absolute; width:auto; top:222px; left:185px}
	.flower-right {position:absolute; width:auto; top:222px; right:185px}
	.fragrant {position:absolute; height:auto; top:277px; left:365px}
	
	.incense-btn {position:absolute; left:265px; bottom:20px}
	.incense-btn button {width:auto; height:25px; line-height:25px; padding-top:0}
	.contact-add {padding:50px 15px}
	.contact-left h2 {margin-bottom:20px; font-size:25px}
	.contact-left p {font-size:17px}
	.contact-left p.contact-tel {font-size:25px}
	.contact-add-map {padding-left:0; padding-right:30px; padding-bottom:0}
	.new-noleft {padding-left:0; padding-right:10px; margin-bottom:0}
	.new-noright {padding-right:0; padding-left:10px}
	.new-navbar {height:220px}
	.new-con {position:relative; margin-top:-120px}
	.new-body {padding:20px 30px}
	.new-notice {padding:0 30px; margin-bottom:20px}
	.new-add {margin-top:90px}
	.new-add button {margin-top:30px; width:35%}
	.register-con {margin-top:150px; background-color:#f9f9f9}
	.search-index {margin-top:50px}
	
	/* 双人馆 double-box*/
	.all-info.img-list img.double-img {width:162px; height:162px}
	.incense-double-img {margin-top:0px; position:absolute; top:130px; left:230px; width:119px; height:119px}
	.incense-double-imgsec {left:400px}
	.new-body .new-pro:first-child {margin-bottom:40px}
	
	/*双人墓碑模板 start*/
	.monument-double .incense-double-img {top:130px; left:300px; width:70px; height:70px}
	.monument-double .incense-double-imgsec {left:380px}
	.monument-double span {position:absolute; top:220px; left:330px; width:20px; height:140px; line-height:25px; font-size:20px; color:#faf08d}
	.monument-double span.incense-double-r {left:400px}
	/*双人墓碑模板 end*/
	
	/* 纪念馆贡品列表页 */
	.incense-product-list .thumbnail h5 {margin-top:10px; width:55%}
	
	/*购物车结算*/
	.settlement-pro {padding:15px 0px; border-bottom:1px solid #ddd}
	.settlement-img img {width:100%; height:105px}
	.settlement-title {margin-bottom:5px; width:100%; height:25px; line-height:25px; overflow:hidden; font-size:12px; text-align:justify}
	.settlement-price {margin-bottom:5px; font-size:12px; color:#b85844}
	.form-group {margin-bottom:5px}
	.settlement-number .form-horizontal .control-label {margin-bottom:7px; padding-right:0px; font-size:12px; color:#b85844; font-weight:normal; text-align:left}
	.settlement-number .form-horizontal .settlement-input {padding-left:0px; font-size:12px}
	.settlement-btn {margin:15px 0px}
	
	/*登录*/
	.login-modal {position:static; margin-top:10px}
	
	/*礼品*/
	.gift-con {width:80%} /*这个width:80%比例可以修改，根据修改自动缩放*/

	/*弹出购物车*/
	.settle-con {width:80%} /*这个width:80%比例可以修改，根据修改自动缩放*/
	.settle-pro img {height:106px}
	
	/*贡品*/
	.tribute-list {width:95%; position:absolute; top:275px; left:5%}
	.tribute-list img {height:55px; float:left ; margin-right:5px; margin-bottom:10px}
	
	/*中间的香和香炉*/
	.tribute-conmid {width:31%; position:absolute; top:50px; left:32%}
	.tribute-conmid-fragrant {width:100%; position:absolute; top:-40px; left:0}
	.tribute-conmid-fragrant img {width:33%; margin-right:0px; margin-left:0px}
	
	/*左侧贡品*/
	.tribute-conl {width:40%; position:absolute; top:-80px; left:-3%}
	
	/*中间贡品*/
	.tribute-conmid-list {width:40%; position:absolute; top:105px; left:30%}
	
	/*右侧贡品*/
	.tribute-conr {width:40%; position:absolute; top:-80px; left:63%}
	
	/*模板弹出页*/
	.template {margin:30px auto; padding-top:10px}
	
	/*支付方式选择*/
	.pay {margin:30px auto}
	.pay-body dl {margin-bottom:20px}
	.pay-count {text-align:right; font-size:17px}
	.pay-way-top {margin-bottom:10px; font-size:17px}
	
	/*贡品详细信息*/
	.tribute-info {position:relative}
	.tribute-info ul {position:absolute; top:0px; left:60px; display:none; line-height:20px; padding:10px; border:1px solid #efdba7; background:#f5f5dc}
}

/* 中等屏幕（桌面显示器，大于等于992px） */
@media (min-width: 992px) {
	.pro-header-tool li {margin-right:10px}
	.arclist .media-heading {margin:10px 0}
	.media-img img {max-width:229px; height:151px}
	.list a {width:85%}
	#myCarousel, .banner-con, .miss, .contact {margin-bottom:40px}
	#footer .container {padding-left:0; padding-right:0}
	.footer-logo {margin-top:10px}
	.all-bg {margin-bottom:40px; padding-bottom:40px}
	.all-info .thumbnail {margin-bottom:40px}
	.all-info .thumbnail img {width:185px; height:185px}
	.information {margin-top:25px}
	.memorial {margin-top:70px}
	.con-tab {margin-bottom:30px}
	.sidebar {padding-left:45px}
	.login .pro-header {margin-bottom:10px}
	.input-group {margin-bottom:10px}
	.btn-login, .btn-register {width:100%; margin-top:10px}
	.sidebar .recommend-body .caption h5 {width:100%; height:50px; line-height:25px; white-space:normal}
	.sidebar .recommend-body img {width:100%; height:163px} 
	.memorial-pro .with-date a {width:70%}
	.img-list .thumbnail img {width:212px; height:141px} 
	.all-info.img-list img {width:212px; height:212px}
	.nav-title .nav-tabs > li {margin-bottom:-2px}
	.side-nav {padding-right:20px}
	.article-top h1 {padding:18px; font-size:25px}
	.article-body img {width:70%}
	.article-near a {max-width:270px}
	.shop-list .thumbnail h5 {width:60%; float:left}
	.shop-info {margin-top:6px; font-size:17px; color:#b85844}
	.miss-shop-info {font-size:14px}
	.shop-info small {font-size:70%}
	.shop-cat img {height:390px}
	.product img {height:302px}
	.product-reason ul {margin-bottom:0px; height:140px}
	.product-btn button {margin-right:5px; width:140px; font-size:20px}
	.map {margin-top:15px}
	.miss-ico img {height:212px}
	.true-info {height:30px; overflow:hidden}
	.count-info {margin-top:25px}
	.miss-shop-full .thumbnail h5 {width:100%}
	.miss-list {padding-left:15px; padding-right:15px}
	.miss-setup img {height:152px}
	.museum-info img {height:212px}
	.museum-info-right li {width:100%; height:34px; line-height:34px}
	.museum-body .thumbnail img {height:203px}
	.anthology-body {padding-top:0px; padding-bottom:0px}
	.anthology-pro {padding:15px}
	.anthology-date {color:#999}
	.incense {margin-bottom:40px}
	.incense-img {top:160px; left:409px; width:153px; height:153px}
	/*墓碑模板 start*/
	.monument .incense-img {top:160px; left:440px; width:90px; height:90px}
	.monument span {position:absolute; top:270px; left:473px; width:20px; height:120px; line-height:30px; font-size:25px; color:#faf08d}
	/*墓碑模板 end*/
	
	.flower-left {position:absolute; top:315px; left:247px}
	.flower-right {position:absolute; top:315px; right:247px}
	.fragrant {position:absolute; top:377px; left:475px}
	
	.incense-btn {left:370px; bottom:25px}
	.incense-btn button {height:34px; line-height:32px}
	.contact-left {padding-left:20px}
	.contact-left h2 {margin-bottom:20px}
	.new-navbar {height:220px}
	.new-add {margin-top:100px}
	.new-add button {width:25%}
	.register-con {margin-top:90px}
	
	/* 双人馆 double-box*/
	.all-info.img-list img.double-img {width:217px; height:217px}
	.incense-double-img {position:absolute; top:170px; left:295px; width:153px; height:153px}
	.incense-double-imgsec {left:520px}
	.new-body .new-pro:first-child {margin-bottom:50px}
	
	/*双人墓碑模板 start*/
	.monument-double .incense-double-img {top:170px; left:395px; width:80px; height:80px}
	.monument-double .incense-double-imgsec {left:495px}
	.monument-double span {position:absolute; top:270px; left:426px; width:20px; height:140px; line-height:30px; font-size:25px; color:#faf08d}
	.monument-double span.incense-double-r {left:515px}
	/*双人墓碑模板 end*/

	/*购物车结算*/
	.settlement-pro {padding:20px 0px}
	.settlement-img img {height:140px}
	.settlement-title {margin-bottom:7px; font-size:15px}
	.settlement-price {margin-bottom:7px; font-size:15px}
	.settlement-number .form-horizontal .control-label {margin-bottom:7px; font-size:15px}
	.settlement-number .form-horizontal .settlement-input {font-size:15px}
	.settlement-btn {margin:20px 0px}
	
	/*登录*/
	.login-modal {position:static; margin-top:10px}
	
	/*礼品*/
	.gift-pro a img {height:100px}

	/*弹出购物车*/
	.settle-title {margin-top:10px; width:100%; height:40px; line-height:20px; overflow:hidden; white-space:normal; text-overflow:clip}
	.settle-pro img {height:150px}
	
	/*贡品*/
	.tribute-list {width:95%; top:470px; left:5%}
	.tribute-list img {height:58px; margin-bottom:15px}
	
	/*中间的香和香炉*/
	.tribute-conmid {width:25%; top:0px; left:35%}
	.tribute-conmid-fragrant {top:-50px}
	
	/*左侧贡品*/
	.tribute-conl {width:30%; position:absolute; top:-150px; left:0}
	
	/*中间贡品*/
	.tribute-conmid-list {width:30%; position:absolute; top:60px; left:33%}
	
	/*右侧贡品*/
	.tribute-conr {width:30%; position:absolute; top:-150px; left:67%}
	
	/*贡品详细信息*/
	.tribute-info {position:relative}
	.tribute-info ul {position:absolute; top:0px; left:80px}
}

/* 大屏幕（大桌面显示器，大于等于1200px） */
@media (min-width: 1200px) {
	.media-img img {max-width:295px; height:182px}
	.arclist .media-heading {margin:25px 0 10px 0}
	#myCarousel, .banner-con, .contact {margin-bottom:50px}
	.all-bg {margin-bottom:50px}
	.all-info .thumbnail img {width:230px; height:230px}
	.information {margin-top:30px}
	.memorial {margin-top:75px}
	.recommend {margin-top:45px}
	.sidebar {padding-left:60px}
	.login .pro-header {margin-bottom:15px}
	.input-group {margin-bottom:12px}
	.btn-login, .btn-register {margin-top:12px}
	.sidebar .recommend-body img {width:100%; height:195px} 
	.memorial-pro .with-date a {width:75%}
	.memorial-pro {padding-right:40px}
	.metorial-arc {padding:0 20px 0 20px}
	.search-memorial {padding:0 0 0 40px}
	.img-list .thumbnail img {width:262px; height:175px}
	.all-info.img-list img {width:262px; height:262px}
	.nav-title .nav-tabs > li {margin-bottom:-1px}
	.side-nav {padding-right:30px}
	.article-top h1 {padding:20px; font-size:27px}
	.shop-list .thumbnail h5 {width:65%}
	.shop-cat img {height:460px}
	.product img {height:370px}
	.product h3 {height:50px}
	.product span.btn-label {display:block; margin-right:15px; width:80px; height:25px; line-height:25px; text-align:center; color:#fff; background:#edad55; border-radius:4px; border:1px solid #e38d13}
	.product-reason ul {margin:15px 0}
	.article-tab-header h5 {margin-top:0px}
	.miss-ico img {height:262px}
	.web-info {padding-bottom:10px}
	.true-info {margin-top:25px; height:60px; overflow:hidden}
	.true-info li {margin-right:30px}
	.miss-shop-full .thumbnail h5 {width:100%}
	.miss-setup-pro {margin-bottom:30px}
	.miss-setup img {height:189px}
	.miss-setup h5 {margin:20px 0 15px 0}
	.miss-setup .miss-des {width:100%; height:81px; line-height:27px; overflow:hidden}
	.museum-info img {height:263px}
	.museum-info-right li {padding:0 15px; width:100%; height:42px; line-height:42px}
	.museum-body .thumbnail img {height:253px}
	.anthology-body {padding-top:0px; padding-bottom:0px}
	.incense {margin-bottom:50px}
	.incense-img {top:192px; left:492px; width:185px; height:185px}
	/*墓碑模板 start*/
	.monument .incense-img {top:192px; left:540px}
	.monument span {top:310px; left:570px; width:20px; height:140px; line-height:35px; font-size:30px; color:#faf08d}
	/*墓碑模板 end*/
	
	.flower-left {position:absolute; top:397px; left:305px}
	.flower-right {position:absolute; top:397px; right:305px}
	.fragrant {position:absolute; top:470px; left:572px}
	
	.incense-btn {left:472px; bottom:25px}
	.contact-left {padding-left:50px}
	.contact-left p {margin-bottom:20px}
	.new-add {margin-top:120px}
	.register-con {margin-top:120px}
	
	/* 双人馆 double-box*/
	.all-info.img-list img.double-img {width:265px; height:265px}
	.incense-double-img {position:absolute; top:204px; left:358px; width:185px; height:185px}
	.incense-double-imgsec {left:624px}
	
	/*双人墓碑模板 start*/
	.monument-double .incense-double-img {top:204px; left:485px; width:90px; height:90px}
	.monument-double .incense-double-imgsec {left:595px}
	.monument-double span {position:absolute; top:320px; left:515px; height:140px; line-height:35px; font-size:30px}
	.monument-double span.incense-double-r {left:625px}
	/*双人墓碑模板 end*/

	/*购物车结算*/
	.settlement-img img {height:175px}
	.settlement-title {margin-bottom:10px; height:50px}
	.settlement-price {margin-bottom:10px}
	.settlement-number .form-horizontal .control-label {margin-bottom:10px}
	
	/*弹出购物车*/
	.settle-title {height:20px; line-height:20px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis}
	.settle-pro img {height:117px}
	
	/*贡品*/
	.tribute-list {top:555px}
	.tribute-list img {height:70px} 
	
	/*中间的香和香炉*/
	.tribute-conmid {position:absolute; top:0px; left:35%}
	
	/*左侧贡品*/
	.tribute-conl {top:-160px}
	
	/*中间贡品*/
	.tribute-conmid-list {top:70px}
	
	/*右侧贡品*/
	.tribute-conr {top:-160px}
	
	/*贡品详细信息*/
	.tribute-info {position:relative}
	.tribute-info ul {position:absolute; top:0px; left:100px}
	
}
